* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: #f7fafc;
}

.container {
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.table-border-collapse {
    border-collapse: collapse;
}

.table-auto {
    table-layout: auto;
}

.px-12 {
    padding-right: 12px;
    padding-left: 12px;
}

.py-6 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pt-50 {
    padding-top: 50px;
}

.border-1 {
    border-width: 1px;
}

.border-solid {
    border-style: solid;
}

.border-dark-grey {
    border-color: #cbd5e0;
}

.bg-white {
    background-color: #fff;
}

.bg-grey {
    background-color: #edf2f7;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.text-align-right {
    text-align: right;
}
